.footer {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #232f3e;
  min-width: 1000px;
  position: relative;
}

.footer__logo {
  align-items: center;
  width: 76px;
  height: 23px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 120mm;
}

.footer__totop {
  margin-bottom: 40px;
  background-color: #37475a;
  margin-bottom: 40px;
  background-color: #37475a;
  display: block;
}

.footer__totop > span {
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}

.footer__totopText {
  cursor: pointer;
}

.footer__logoname {
  display: flex;
  margin-right: 10px;
  padding: 10px;
  border-top: 1px solid #3a4553;
}

.footer__row {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 1000px;
  padding: 0 50px;
}

.footer__text {
  z-index: 1;
  justify-content: flex-end;
  margin: 0 50px;
  width: 100%;
  max-height: 400px;
  min-width: 80px;
  color: white;
  white-space: normal;
}

.footer__colheader {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}

.footer__text > ul > li {
  margin: 0 0 10px;
  font-size: 13px;
  list-style-type: none;
  line-height: 120%;
  margin: 0 0 8px 0 !important;
}

.footer__text > ul {
  padding: 0;
  margin: 0 0 50px 0;
}

.footer__end {
  align-items: center;
  margin: 15px;
  padding: 0 0 10px 0;
  color: white;
}
